# <span style="color:teal;">CIS 211 Project 7:  SQLite</span>

##### Due 11:00 P.M. Friday Feb 26

This project will give you some experience writing database queries in SQL and connecting to a SQLite database from Python.

### <span style="color:teal">Setup</span>

Download the Sakila database (the file named `sakila211.db`) and move it to the same folder as this IPython notebook.

### <span style="color:teal">Executing Queries in an IPython Notebook</span>

To solve the problems in the first two sections of this project you need to write a SQL query based on the tables in the Sakila211 database.  

To execute a query from an IPython Notebook write the query in quotes as part of a shell command:
```
! sqlite3 sakila211.db "..."
```

For example, to answer the question "What are the names and ratings of the films" your code cell would have
```
! sqlite3 sakila211.db "select title, rating from film"
```

Some of the queries will produce a lot of output.  You can add a `LIMIT` clause to any query if you want to reduce the size of the output.

**Note:** &nbsp; Your grade will not depend on the output format.  If want to have a nicer looking output that includes column headers create a file named `.sqliterc` in your home folder and add these two lines:
```
.header on
.mode column
```

In [ ]:
! sqlite3 sakila211.db ".tables"

## <span style="color:teal">Part 1:  &nbsp; Queries</span>

The following questions can all be answered using records from a single table.

(1) What are the first and last names of all the customers?

In [ ]:
! sqlite3 sakila211.db "select first_name,last_name from customer"

(2) What are the e-mail addresses of customers whose first name is “Willard”?

In [ ]:
! sqlite3 sakila211.db "select email from customer where first_name = 'Willard'"

(3) How many customers are there?

In [ ]:
! sqlite3 sakila211.db "select count(last_name) from customer"

(4) How many customers shop at store number 1?

In [ ]:
! sqlite3 sakila211.db "select count(last_name) from  customer where store_id='1'"

(5) How much does it cost to rent the film named “Virtual Spoilers”?

In [ ]:
! sqlite3 sakila211.db "select rental_rate from  film where title='Virtual Spoilers'"

(6) Do any films have the word “Princess” in the title?

In [ ]:
! sqlite3 sakila211.db "select count(title) from  film where title like'%Princess%'"

(7) What are the titles of the films that are longer than 180 minutes?

In [ ]:
! sqlite3 sakila211.db "select title from  film where length>'180'"

(8) How many films have a “G” rating and are less than 60 minutes long?

In [ ]:
! sqlite3 sakila211.db "select count(title) from  film where rating='G' and length>'60'"

(9) What is the maximum replacement cost for any film?

In [ ]:
! sqlite3 sakila211.db "select max(replacement_cost) from  film "

(10) Print a table that lists the different types of ratings and the number of films that have that rating.

In [ ]:
! sqlite3 sakila211.db "select rating, count(title) from  film group by rating"

## <span style="color:teal">Part 2: &nbsp; Joins</span>

The following queries all require a join of two or more tables. As a hint for how to create the query the table names are shown next to each a question.

(11) What are the film IDs of movies starring Jude Cruise?  &nbsp; &nbsp; [`actor`, `film_actor`]

In [ ]:
! sqlite3 sakila211.db "select film_id as film_id_acted_by_Jude from actor join film_actor using(actor_id) where first_name='Jude'"

(12) What language was “Ace Goldfinger” filmed in?  &nbsp; &nbsp; [`film`, `language`]

In [ ]:
! sqlite3 sakila211.db "select  name as language from film join language  using(language_id) where title='Ace Goldfinger' "

(13) How many actors starred in the film named “Scalawag Duck”? &nbsp; &nbsp; [`film`, `film_actor`]

In [ ]:
! sqlite3 sakila211.db "select  count(actor_id) as number_of_actors  from film_actor join film using(film_id) where title='Scalawag Duck' "

(14) Produce a table that shows how many films each customer has rented.  &nbsp; &nbsp; [`customer`, `rental`]

In [84]:
! sqlite3 sakila211.db "select  customer_id , first_name,last_name, count(customer_id) as number_of_film_they_rent from customer join rental using(customer_id) group by customer_id"

-- Loading resources from /Users/Andyfish/.sqliterc

customer_id  first_name  last_name   number_of_film_they_rent
-----------  ----------  ----------  ------------------------
1            Mary        Smith       32
2            Patricia    Johnson     27
3            Linda       Williams    26
4            Barbara     Jones       22
5            Elizabeth   Brown       38
6            Jennifer    Davis       28
7            Maria       Miller      33
8            Susan       Wilson      24
9            Margaret    Moore       23
10           Dorothy     Taylor      25
11           Lisa        Anderson    24
12           Nancy       Thomas      28
13           Karen       Jackson     27
14           Betty       White       28
15           Helen       Harris      32
16           Sandra      Martin      28
17           Donna       Thompson    21
18           Carol       Garcia      22
19           Ruth        Martinez    24
20           Sharon      Robinson    30
21           Michelle    Clark       35
22           Laura       Rodriguez   22
23           Sarah       Lewis       30
24           Kimberly    Lee         25
25           Deborah     Walker      29
26           Jessica     Hall        34
27           Shirley     Allen       31
28           Cynthia     Young       32
29           Angela      Hernandez   36
30           Melissa     King        34
31           Brenda      Wright      26
32           Amy         Lopez       29
33           Anna        Hill        21
34           Rebecca     Scott       24
35           Virginia    Green       32
36           Kathleen    Adams       27
37           Pamela      Baker       23
38           Martha      Gonzalez    34
39           Debra       Nelson      29
40           Amanda      Carter      27
41           Stephanie   Mitchell    25
42           Carolyn     Perez       30
43           Christine   Roberts     24
44           Marie       Turner      26
45           Janet       Phillips    27
46           Catherine   Campbell    34
47           Frances     Parker      22
48           Ann         Evans       17
49           Joyce       Edwards     28
50           Diane       Collins     35
51           Alice       Stewart     33
52           Julie       Sanchez     29
53           Heather     Morris      30
54           Teresa      Rogers      29
55           Doris       Reed        22
56           Gloria      Cook        30
57           Evelyn      Morgan      28
58           Jean        Bell        27
59           Cheryl      Murphy      27
60           Mildred     Bailey      25
61           Katherine   Rivera      14
62           Joan        Cooper      23
63           Ashley      Richardson  25
64           Judith      Cox         33
65           Rose        Howard      22
66           Janice      Ward        34
67           Kelly       Torres      22
68           Nicole      Peterson    22
69           Judy        Gray        25
70           Christina   Ramirez     18
71           Kathy       James       30
72           Theresa     Watson      30
73           Beverly     Brooks      24
74           Denise      Kelly       27
75           Tammy       Sanders     41
76           Irene       Price       23
77           Jane        Bennett     28
78           Lori        Wood        31
79           Rachel      Barnes      22
80           Marilyn     Ross        30
81           Andrea      Henderson   22
82           Kathryn     Coleman     26
83           Louise      Jenkins     25
84           Sara        Perry       33
85           Anne        Powell      23
86           Jacqueline  Long        33
87           Wanda       Patterson   30
88           Bonnie      Hughes      21
89           Julia       Flores      32
90           Ruby        Washington  28
91           Lois        Butler      35
92           Tina        Simmons     28
93           Phyllis     Foster      23
94           Norma       Gonzales    21
95           Paula       Bryant      18
96           Diana       Alexander   27
97           Annie       Russell     18
98           Lillian     Griffin     25
99           Emily       Diaz        24
100          Robin       Hayes       24
101          Peggy       Myers       24
102          Crystal     Ford        33
103          Gladys      Hamilton    31
104          Rita        Graham      24
105          Dawn        Sullivan    26
106          Connie      Wallace     23
107          Florence    Woods       30
108          Tracy       Cole        30
109          Edna        West        26
110          Tiffany     Jordan      14
111          Carmen      Owens       26
112          Rosa        Reynolds    30
113          Cindy       Fisher      29
114          Grace       Ellis       33
115          Wendy       Harrison    30
116          Victoria    Gibson      27
117          Edith       Mcdonald    19
118          Kim         Cruz        21
119          Sherry      Marshall    34
120          Sylvia      Ortiz       32
121          Josephine   Gomez       26
122          Thelma      Murray      32
123          Shannon     Freeman     24
124          Sheila      Wells       18
125          Ethel       Webb        32
126          Ellen       Simpson     28
127          Elaine      Stevens     24
128          Marjorie    Tucker      32
129          Carrie      Porter      34
130          Charlotte   Hunter      24
131          Monica      Hicks       30
132          Esther      Crawford    28
133          Pauline     Henry       27
134          Emma        Boyd        23
135          Juanita     Mason       30
136          Anita       Morales     15
137          Rhonda      Kennedy     39
138          Hazel       Warren      34
139          Amber       Dixon       27
140          Eva         Ramos       18
141          Debbie      Reyes       32
142          April       Burns       26
143          Leslie      Gordon      22
144          Clara       Shaw        42
145          Lucille     Holmes      28
146          Jamie       Rice        29
147          Joanne      Robertson   34
148          Eleanor     Hunt        46
149          Valerie     Black       26
150          Danielle    Daniels     25
151          Megan       Palmer      27
152          Alicia      Mills       21
153          Suzanne     Nichols     24
154          Michele     Grant       30
155          Gail        Knight      25
156          Bertha      Ferguson    25
157          Darlene     Rose        31
158          Veronica    Stone       32
159          Jill        Hawkins     21
160          Erin        Dunn        27
161          Geraldine   Perkins     30
162          Lauren      Hudson      20
163          Cathy       Spencer     29
164          Joann       Gardner     16
165          Lorraine    Stephens    21
166          Lynn        Payne       28
167          Sally       Pierce      32
168          Regina      Berry       34
169          Erica       Matthews    22
170          Beatrice    Arnold      26
171          Dolores     Wagner      26
172          Bernice     Willis      33
173          Audrey      Ray         29
174          Yvonne      Watkins     21
175          Annette     Olson       24
176          June        Carroll     37
177          Samantha    Duncan      23
178          Marion      Snyder      39
179          Dana        Hart        29
180          Stacy       Cunningham  23
181          Ana         Bradley     34
182          Renee       Lane        26
183          Ida         Andrews     23
184          Vivian      Ruiz        23
185          Roberta     Harper      23
186          Holly       Fox         31
187          Brittany    Riley       28
188          Melanie     Armstrong   25
189          Loretta     Carpenter   22
190          Yolanda     Weaver      27
191          Jeanette    Greene      20
192          Laurie      Lawrence    23
193          Katie       Elliott     25
194          Kristen     Chavez      18
195          Vanessa     Sims        19
196          Alma        Austin      35
197          Sue         Peters      40
198          Elsie       Kelley      37
199          Beth        Franklin    25
200          Jeanne      Lawson      27
201          Vicki       Fields      25
202          Carla       Gutierrez   26
203          Tara        Ryan        20
204          Rosemary    Schmidt     35
205          Eileen      Carr        18
206          Terri       Vasquez     27
207          Gertrude    Castillo    34
208          Lucy        Wheeler     26
209          Tonya       Chapman     32
210          Ella        Oliver      31
211          Stacey      Montgomery  34
212          Wilma       Richards    20
213          Gina        Williamson  28
214          Kristin     Johnston    31
215          Jessie      Banks       26
216          Natalie     Meyer       23
217          Agnes       Bishop      23
218          Vera        Mccoy       18
219          Willie      Howell      26
220          Charlene    Alvarez     27
221          Bessie      Morrison    28
222          Delores     Hansen      21
223          Melinda     Fernandez   17
224          Pearl       Garza       22
225          Arlene      Harvey      26
226          Maureen     Little      21
227          Colleen     Burton      24
228          Allison     Stanley     27
229          Tamara      Nguyen      25
230          Joy         George      33
231          Georgia     Jacobs      26
232          Constance   Reid        25
233          Lillie      Kim         23
234          Claudia     Fuller      26
235          Jackie      Lynch       25
236          Marcia      Dean        42
237          Tanya       Gilbert     33
238          Nellie      Garrett     21
239          Minnie      Romero      34
240          Marlene     Welch       26
241          Heidi       Larson      34
242          Glenda      Frazier     32
243          Lydia       Burke       24
244          Viola       Hanson      32
245          Courtney    Day         32
246          Marian      Mendoza     23
247          Stella      Moreno      22
248          Caroline    Bowman      15
249          Dora        Medina      23
250          Jo          Fowler      20
251          Vickie      Brewer      31
252          Mattie      Hoffman     22
253          Terry       Carlson     29
254          Maxine      Silva       32
255          Irma        Pearson     18
256          Mabel       Holland     30
257          Marsha      Douglas     37
258          Myrtle      Fleming     24
259          Lena        Jensen      32
260          Christy     Vargas      31
261          Deanna      Byrd        26
262          Patsy       Davidson    28
263          Hilda       Hopkins     29
264          Gwendolyn   May         25
265          Jennie      Terry       29
266          Nora        Herrera     28
267          Margie      Wade        36
268          Nina        Soto        29
269          Cassandra   Walters     30
270          Leah        Curtis      25
271          Penny       Neal        18
272          Kay         Caldwell    20
273          Priscilla   Lowe        35
274          Naomi       Jennings    35
275          Carole      Barnett     30
276          Brandy      Graves      28
277          Olga        Jimenez     32
278          Billie      Horton      26
279          Dianne      Shelton     31
280          Tracey      Barrett     27
281          Leona       Obrien      14
282          Jenny       Castro      27
283          Felicia     Sutton      28
284          Sonia       Gregory     28
285          Miriam      Mckinney    26
286          Velma       Lucas       27
287          Becky       Miles       29
288          Bobbie      Craig       24
289          Violet      Rodriquez   30
290          Kristina    Chambers    28
291          Toni        Holt        23
292          Misty       Lambert     27
293          Mae         Fletcher    31
294          Shelly      Watts       26
295          Daisy       Bates       38
296          Ramona      Hale        30
297          Sherri      Rhodes      33
298          Erika       Pena        26
299          James       Gannon      30
300          John        Farnsworth  31
301          Robert      Baughman    21
302          Michael     Silverman   29
303          William     Satterfiel  26
304          David       Royal       26
305          Richard     Mccrary     25
306          Charles     Kowalski    32
307          Joseph      Joy         30
308          Thomas      Grigsby     25
309          Christophe  Greco       31
310          Daniel      Cabral      20
311          Paul        Trout       23
312          Mark        Rinehart    26
313          Donald      Mahon       23
314          George      Linton      33
315          Kenneth     Gooden      17
316          Steven      Curley      29
317          Edward      Baugh       28
318          Brian       Wyman       12
319          Ronald      Weiner      30
320          Anthony     Schwab      20
321          Kevin       Schuler     22
322          Jason       Morrissey   28
323          Matthew     Mahan       31
324          Gary        Coy         25
325          Timothy     Bunn        22
326          Jose        Andrew      25
327          Larry       Thrasher    26
328          Jeffrey     Spear       23
329          Frank       Waggoner    32
330          Scott       Shelley     25
331          Eric        Robert      27
332          Stephen     Qualls      28
333          Andrew      Purdy       27
334          Raymond     Mcwhorter   30
335          Gregory     Mauldin     23
336          Joshua      Mark        30
337          Jerry       Jordon      29
338          Dennis      Gilman      28
339          Walter      Perryman    30
340          Patrick     Newsom      31
341          Peter       Menard      23
342          Harold      Martino     32
343          Douglas     Graf        25
344          Henry       Billingsle  18
345          Carl        Artis       23
346          Arthur      Simpkins    32
347          Ryan        Salisbury   30
348          Roger       Quintanill  36
349          Joe         Gilliland   29
350          Juan        Fraley      23
351          Jack        Foust       24
352          Albert      Crouse      23
353          Jonathan    Scarboroug  18
354          Justin      Ngo         36
355          Terry       Grissom     20
356          Gerald      Fultz       30
357          Keith       Rico        26
358          Samuel      Marlow      21
359          Willie      Markham     25
360          Ralph       Madrigal    34
361          Lawrence    Lawton      31
362          Nicholas    Barfield    32
363          Roy         Whiting     29
364          Benjamin    Varney      23
365          Bruce       Schwarz     23
366          Brandon     Huey        37
367          Adam        Gooch       22
368          Harry       Arce        35
369          Fred        Wheat       25
370          Wayne       Truong      19
371          Billy       Poulin      35
372          Steve       Mackenzie   34
373          Louis       Leone       35
374          Jeremy      Hurtado     28
375          Aaron       Selby       24
376          Randy       Gaither     28
377          Howard      Fortner     26
378          Eugene      Culpepper   19
379          Carlos      Coughlin    23
380          Russell     Brinson     36
381          Bobby       Boudreau    35
382          Victor      Barkley     24
383          Martin      Bales       27
384          Ernest      Stepp       25
385          Phillip     Holm        26
386          Todd        Tan         29
387          Jesse       Schilling   26
388          Craig       Morrell     30
389          Alan        Kahn        26
390          Shawn       Heaton      33
391          Clarence    Gamez       30
392          Sean        Douglass    23
393          Philip      Causey      31
394          Chris       Brothers    22
395          Johnny      Turpin      19
396          Earl        Shanks      27
397          Jimmy       Schrader    29
398          Antonio     Meek        16
399          Danny       Isom        21
400          Bryan       Hardison    28
401          Tony        Carranza    21
402          Luis        Yanez       20
403          Mike        Way         35
404          Stanley     Scroggins   30
405          Leonard     Schofield   32
406          Nathan      Runyon      32
407          Dale        Ratcliff    27
408          Manuel      Murrell     30
409          Rodney      Moeller     23
410          Curtis      Irby        38
411          Norman      Currier     26
412          Allen       Butterfiel  21
413          Marvin      Yee         21
414          Vincent     Ralston     25
415          Glenn       Pullen      23
416          Jeffery     Pinson      31
417          Travis      Estep       25
418          Jeff        East        30
419          Chad        Carbone     25
420          Jacob       Lance       21
421          Lee         Hawks       27
422          Melvin      Ellington   26
423          Alfred      Casillas    26
424          Kyle        Spurlock    30
425          Francis     Sikes       26
426          Bradley     Motley      27
427          Jesus       Mccartney   24
428          Herbert     Kruger      20
429          Frederick   Isbell      21
430          Ray         Houle       22
431          Joel        Francisco   23
432          Edwin       Burk        23
433          Don         Bone        25
434          Eddie       Tomlin      27
435          Ricky       Shelby      25
436          Troy        Quigley     30
437          Randall     Neumann     23
438          Barry       Lovelace    33
439          Alexander   Fennell     36
440          Bernard     Colby       22
441          Mario       Cheatham    28
442          Leroy       Bustamante  32
443          Francisco   Skidmore    22
444          Marcus      Hidalgo     30
445          Micheal     Forman      26
446          Theodore    Culp        31
447          Clifford    Bowens      29
448          Miguel      Betancourt  29
449          Oscar       Aquino      20
450          Jay         Robb        26
451          Jim         Rea         33
452          Tom         Milner      32
453          Calvin      Martel      23
454          Alex        Gresham     33
455          Jon         Wiles       24
456          Ronnie      Ricketts    25
457          Bill        Gavin       28
458          Lloyd       Dowd        19
459          Tommy       Collazo     38
460          Leon        Bostic      25
461          Derek       Blakely     28
462          Warren      Sherrod     33
463          Darrell     Power       25
464          Jerome      Kenyon      16
465          Floyd       Gandy       17
466          Leo         Ebert       23
467          Alvin       Deloach     29
468          Tim         Cary        39
469          Wesley      Bull        40
470          Gordon      Allard      32
471          Dean        Sauer       27
472          Greg        Robins      30
473          Jorge       Olivares    34
474          Dustin      Gillette    26
475          Pedro       Chestnut    24
476          Derrick     Bourque     22
477          Dan         Paine       22
478          Lewis       Lyman       19
479          Zachary     Hite        31
480          Corey       Hauser      22
481          Herman      Devore      29
482          Maurice     Crawley     29
483          Vernon      Chapa       18
484          Roberto     Vu          30
485          Clyde       Tobias      29
486          Glen        Talbert     26
487          Hector      Poindexter  26
488          Shane       Millard     22
489          Ricardo     Meador      21
490          Sam         Mcduffie    24
491          Rick        Mattox      27
492          Lester      Kraus       16
493          Brent       Harkins     23
494          Ramon       Choate      31
495          Charlie     Bess        26

(15) How many films did the customer named Smith rent?  &nbsp; &nbsp; [`customer`, `rental`]

In [ ]:
! sqlite3 sakila211.db "select   count(customer_id) as number_of_Smith_rent  from customer  join rental  using(customer_id) where last_name = 'Smith' group by customer_id"

(16) Which customers have not returned films (*i.e.* the return_date field in the rental table is null)?  &nbsp; &nbsp; [`customer`, `rental`]

In [ ]:
! sqlite3 sakila211.db "select   first_name,last_name, count(customer_id) as number_of_films_did_not_return from customer  join rental  using(customer_id) where return_date is null group by customer_id"

(17) Which actors starred in “Splash Gump”?  &nbsp; &nbsp; [`film`, `film_actor`, `actor`]

In [ ]:
! sqlite3 sakila211.db "select first_name,last_name from film join film_actor using(film_id)join actor  using(actor_id) where title='Splash Gump' group by actor_id  "

(18) Which films has Penelope Guiness starred in?  &nbsp; &nbsp; [`film`, `film_actor`, `actor`]

In [43]:
! sqlite3 sakila211.db "select title from film join film_actor using(film_id)join actor \
using(actor_id) where last_name='Guiness' group by actor_id  "

-- Loading resources from /Users/Andyfish/.sqliterc

title
------------------
Wizard Coldblooded
United Pilot
Wind Phantom

(19) What are the names of the films rented by the customer named Knight?  &nbsp; &nbsp; [`customer`, `rental`, `inventory`, `film`]

In [44]:
! sqlite3 sakila211.db "select title from film join inventory using(film_id) join rental using(inventory_id) join customer using(customer_id) where last_name='Knight'  "

-- Loading resources from /Users/Andyfish/.sqliterc

title
-------------
Jericho Mulan
Frost Head
Clerks Angels
Wife Turn
Expecations N
Lawless Visio
Soup Wisdom
Heartbreakers
Bikini Borrow
Attacks Hate
Cupboard Sinn
Princess Gian
Cyclone Famil
Platoon Insti
Knock Warlock
Excitement Ev
Right Cranes
Hyde Doctor
Fatal Haunted
Chasing Fight
Falcon Volume
Tomorrow Hust
Half Outfield
Horror Reign
Borrowers Bed

## <span style="color:teal">Part 3: &nbsp; Monthly Report</span>

For this part of the project you will write a report generator that will print a summary of monthly activity for a customer.  The report should show a list of all the films rented during the month along with a total amount due.
This example shows the activity for the customer named Leo Ebert for the month of June, 2005.

<pre>
--- Sakila DVD Rentals ---

Monthly Report for Leo Ebert 

Lonely Elephant                 06/16/2005    $2.99
                   ** late fee  06/24/2005    $2.99
Enemy Odds                      06/18/2005    $4.99
                   ** late fee  06/27/2005    $4.99
Song Hedwig                     06/20/2005    $0.99
                   ** late fee  06/26/2005    $0.99
Wash Heavenly                   06/21/2005    $4.99
Hurricane Affair                06/21/2005    $2.99

Monthly Total:  $25.92
</pre>

To compute the total, the report generator needs to add up all the rental fees, and for any film returned late, add an additional rental fee as the late charge. In the example, Leo rented *Lonely Elephant* on June 16 but didn’t return it until June 24. It was a 3-day rental, so he was charged an additional \$2.99 (it was 5 days late, so we could have charged him \$4.98 in late fees, but we’ll keep it simple and just charge the basic fee as the late fee).

We've broken the problem into separate parts so they can be implemented and tested separately.  Your job is to fill in the code cells so each part passes the auto-grader tests.

**Note:** &nbsp; There is no documentation requirement for this project.

### <span style="color:teal">Database Connection</span>

To simplify the code for this program you can define the database connection as a global variable.  The following code cell imports the libraries you need and defines the database connection.

In [674]:
from sqlite3 import connect

db = connect('sakila211.db')

### <span style="color:teal">Dates</span>

Dates in a SQLite database are stored as strings.  The function below uses a Python library named `datetime` to parse a date string and return a string that can be printed as part of the report.  Read the online documentation for the `datetime` module if you want to learn more about date formats and functions that parse and format dates.

**Note:** &nbsp; The format string is a global variable -- you can use this same format in your function that checks to see if a CD is overdue.

In [675]:
from datetime import datetime

date_format = "%Y-%m-%d %H:%M:%S.%f"

def mmddyyyy(date):
    d = datetime.strptime(date, date_format)
    return '{:02d}/{:02d}/{:02d}'.format(d.month, d.day, d.year)

In [676]:
assert mmddyyyy('2005-02-26 20:59:35.000') == '02/26/2005'

In [677]:
d=mmddyyyy('2005-02-26 20:59:35.000')

### <span style="color:teal">Customer Name</span>

Fill in the definition of the `customer_name` function.  It will be passed a string with a last name, and it should return a list of tuples of the form `(first, last)` with the first and last names of all customers with the same last name.  If there are no customers with that name the list should be empty.

In [678]:
def customer_names(s):
    
    query = "select first_name, last_name from customer where last_name like ?"
    result = db.execute(query,(s,))
    return result.fetchall()

##### <span style="color:red">Autograder Tests:</span>

**Do not edit, copy, or delete these cells.**

In [679]:
assert customer_names('ebert') == [('Leo', 'Ebert')]

In [680]:
assert customer_names('smith') == [('Mary', 'Smith')]

In [681]:
assert customer_names('turing') == []

### <span style="color:teal">Film List</span>

Fill in the body of the `film_list` function so it returns a list of all CDs rented by a customer during a specified month. 
The parameters that will be passed to the function are the customer's last name (a string) and the month and year (both integers).  Return a list of tuples that have the following values, in the order shown:
* film title
* rental rate (how much it costs to rent the CD)
* rental date (the date the CD was rented)
* return date (the date the CD was returned)
* rental duration (the number of days the CD can be out before a late fee is charged) 

All of the information you need can be retrieved with a single query that joins the rental, inventory, film, and customer tables. Note that this is the same query used to answer Question 19 above, except with different column names.

**Hint:** &nbsp; The dates in the database are strings.  Think about pattern matching when you write the WHERE clause that specifies the date range.

In [682]:
def film_list(name, month, year):
    name=name.title()
    a=[]
    L='{:02d}-{:02d}-{:02d} 00:00:00:000'.format(year, month,1)
    R='{:02d}-{:02d}-{:02d} 23:59:59:999'.format(year,month,31)
    query = "select title, rental_rate, rental_date, return_date, rental_duration \
    from film join inventory using(film_id) join rental using(inventory_id) join customer using(customer_id) where last_name = ? and rental_date > ? and rental_date< ?"
    result= db.execute(query,(name,L,R))
    
    return [i for i in result]

In [683]:
film_list('Ebert', 6, 2005)

[('Lonely Elephant',
  2.99,
  '2005-06-16 20:59:35.000',
  '2005-06-24 15:31:35.000',
  3),
 ('Enemy Odds', 4.99, '2005-06-18 19:04:41.000', '2005-06-27 17:10:41.000', 5),
 ('Song Hedwig',
  0.99,
  '2005-06-20 11:17:20.000',
  '2005-06-26 13:15:20.000',
  3),
 ('Wash Heavenly',
  4.99,
  '2005-06-21 02:47:56.000',
  '2005-06-27 03:16:56.000',
  7),
 ('Hurricane Affair',
  2.99,
  '2005-06-21 10:56:59.000',
  '2005-06-25 16:41:59.000',
  6)]

##### <span style="color:red">Autograder Tests:</span>

**Do not edit, copy, or delete these cells.**

In [547]:
leo = film_list('Ebert', 6, 2005)
assert len(leo) == 5
assert leo[0] == (('Lonely Elephant', 2.99, '2005-06-16 20:59:35.000', '2005-06-24 15:31:35.000', 3))

In [548]:
mary = film_list('Smith', 8, 2005)
assert len(mary) == 11
assert mary[0] == ('Adaptation Holes', 2.99, '2005-08-01 08:51:04.000', '2005-08-10 12:12:04.000', 7)

### <span style="color:teal">Overdue CDs</span>

To decide whether a CD was returned late you need to subtract the rental date from the return date and see if the difference is greater than the rental duration. The easiest way to do this is to use Python’s `datetime` library.

Using a call to `strptime` (see the body of the `mmddyyyy` function defined above) create `datetime` objects for the rental date and the return date. Then subtract the rental date from the return date to get a `timedelta` object:
```
    diff = returned - rented
```
Now you can get attributes of the object named `diff` to tell you how far apart the dates were, for example `diff.days` will tell you the time difference in days.

Fill in the body of the `overdue` function.  The parameters are a rental date, a return date, and the rental duration.  Return TRUE if the CD was not returned or if the number of days it was checked out is greater than the rental duration.

In [549]:
def overdue(rent_date, return_date, duration):
    date_format = "%Y-%m-%d %H:%M:%S.%f"

    
    ren = datetime.strptime(rent_date,date_format)
    ret = datetime.strptime(return_date,date_format)
    diff=ret-ren
    
    if diff.days >duration :
        return True

In [550]:
overdue('2005-06-16 20:59:35.000', '2005-06-24 15:31:35.000', 3)

True

In [551]:
assert overdue('2005-06-16 20:59:35.000', '2005-06-19 20:59:35.000', 2)

In [552]:
assert not overdue('2005-06-16 20:59:35.000', '2005-06-17 20:59:35.000', 2)

In [553]:
assert not overdue('2005-06-16 20:59:35.000', '2005-06-19 20:59:34.000', 2)

### <span style="color:teal">Report Generator</span>

Fill in the body of the function named `sakila_report` so it prints a monthly report.  The arguments passed to the function will be a customer's last name (a string) and a month and year (both integers).

If the customer is not in the database, or if there are two customers with the same last name, return None.  Otherwise print a list of films and late fees and the total amount due.

You can format the report however you would like, as long as the following items appear somewhere in the output:
* every fee should be printed with a dollar sign and an amount, for example `$2.99` or `25.92`
* the total amound due should be printed on a line that includes the word `"Total"` followed by a dollar amount on the same line

In [776]:
def sakila_report(customer, month, year):
    a= customer_names(customer)
    if len(a) == 0 or len(a)>1:
        return None
    rental = film_list(customer,month,year)
    total_payment =0
    total = 0
    print("---Sakila DVD Rentals---")
    print()
    dis = 'monthly report for {} {}'.format(a[0][0],a[0][1])
    for i in rental:
        total += i[1]
        rental_date = mmddyyyy(i[2])
        dis +='\n \n${} <{}> ranted at :{}'.format(i[1],i[0],rental_date)
        
        if overdue(i[2],i[3],i[4])== True:
            total_payment += i[1]
            dis += '\nOver due \n *add late fee ${}'.format(i[1])
    total_payment = total_payment +total
    dis +='\n Monthly Total: ${0:.2f}'.format(total_payment)
    print(dis)

##### <span style="color:red">Tests</span>

You can use code cells in this section (and add more if you wish) to test your functions.

In [777]:

sakila_report('Ebert', 6, 2005)

---Sakila DVD Rentals---

monthly report for Leo Ebert

$2.99 <Lonely Elephant> ranted at :06/16/2005
Over due
 *add late fee $2.99

$4.99 <Enemy Odds> ranted at :06/18/2005
Over due
 *add late fee $4.99

$0.99 <Song Hedwig> ranted at :06/20/2005
Over due
 *add late fee $0.99

$4.99 <Wash Heavenly> ranted at :06/21/2005

$2.99 <Hurricane Affair> ranted at :06/21/2005
 Monthly Total: $25.92

In [755]:
check_report(res.stdout, 8, '$25.92')

AssertionError:

##### <span style="color:red">Autograder Tests</span>

The tests for the `sakila_report` function will call the function and while using the IPython `capture` command to save everything the function prints.  We'll then use a function that counts the number of times a dollar amount (from either a rental fee or a late fee) occurs and make sure the total amount is the expected value.

**Do not edit, copy, or delete these cells.**

In [778]:
import re

def check_report(text, expected_count, expected_total):
    nums = []
    for line in text.split('\n'):
        has_total = re.search(r'Total.*(\$\d+\.\d\d)', line)
        if has_total:
            assert has_total.group(1) == expected_total
        else:
            for s in re.findall(r'\$\d+\.\d\d', line):
                nums.append(s)
    assert(len(nums) == expected_count)
    total = 0.0
    for s in nums:
        total += float(s[1:])
    assert(round(total,2)) == round(float(expected_total[1:]), 2)
    return True

In [779]:
%%capture res
sakila_report('Ebert', 6, 2005)

In [780]:
assert check_report(res.stdout, 8, '$25.92')

In [781]:
%%capture res
sakila_report('Smith', 8, 2005)

In [782]:
assert check_report(res.stdout, 15, '$32.85')

In [783]:
%%capture res
sakila_report('Turing', 6, 2005)

In [784]:
assert len(res.stdout) == 0